/* home */
.productInfo{
    float: left;
    margin-left: 40px;
    margin-top: 25px;
    width: 1000px;
}
.productInfo img{
    margin-left: 10px;
}

.list li{
    float:left;
    margin-right: 10px;
    margin-left: 5px;
    color:white;
}
.productPhoto {
    height: 220px;
    width: 225px;
    padding-bottom: 5px;
    padding-top: 28px;
}
.picksize {
    text-align: center;
    padding-top: 5px;
    width: 150px;
    margin: 10px auto 0;
    padding-left: 23px;
}
 .picksize a{
    text-decoration: none;
    width: 23px;
    padding: 3px 0;
    display: block;
    background-color: #eee;
    border: 1px solid #eee;
    color: #575757;
    font-size: 12px;
    font-family: Arial; 
    text-align: center;
    float: left;
    margin-right: 5px;
} 
.productName {
    padding-top: 15px;
    display: block;
    line-height: 1.5;
    text-align: center;
}
.productPrice{
    padding-top: 15px;
    display: block;
    line-height: 1.5;
    text-align: center;
}
.page{
    text-align: center;
    margin: 10px;
}
.page input{
    background:none;
    border: 0;
    margin: 10px;
    color: #A0522D;
    font-size: 14px;
}
.page input:hover{
    font-weight: bolder;
    font-size: 18px;
}
@media(max-width:1176px){
    .catalog{
        width:30% ;
        float: left;
        margin: 0 auto;
     }
     .productInfo{
       width:55% ;
       float: left;
     }
     .productInfo img{
         width: 100%;;
     }
     .product li{
       width:40% ;
     }
  }
  @media(max-width:840px){
    .catalog{
       width:30% ;
       float: left;
    }
    .productInfo{
      width:60% ;
      float: left;
    }
    .product li{
      width:80% ;
      float: left;
    }
}
