html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration:none;
}
.clear{
    clear: both;
}
.wrap{
    width: 1180px;
    font-size: 12px;
    font-family: "Verdana","新細明體",Geneva,Tahoma,sans-serif;
    color: #706e6c;
    margin: 0 auto;
  }
  .header{
      padding-top: 48px;
      padding-bottom: 15px;
      border-bottom:2px solid #ccc;
  }
  .footer{
      margin-top: 200px;
  }
  .logo{
      float: left;
      width: 400px;
  }
  .function{
      float: right;
      margin-top: 25px;
  }
  .function li{
      float: left;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 18px;
      font-weight: bolder;
      font-family: 微軟正黑體;  
  }
  .function li a{
      color: #8B4513 ;
  }
  .home{
      border-right:1px solid #ccc;
  }
  .content{
      margin-top: 50px;
  }
  .addProduct{
      width: 800px;
      margin: 0 auto;
      font-size: 25px;
      
  }
  .addProduct table{
      background-color: #ccc;
    color: black;
    border-radius:10px; 
    }

  .addProduct table td{
      padding: 5px;
      height: 80px;
      vertical-align:middle;
      text-align: center;
      font-family: 微軟正黑體;  
      border-top:2px solid #ffffff; 
      border-right:2px solid #ffffff; 
  }
  .addProduct input{
      padding: 5px;
      width: 500px;
      border-radius:5px; 
      font-size: 25px;
  }
  .addProduct .size{
    width: 50px;
  }
  .addProduct  .send{
    margin-left: 300px;
    margin-top: 30px;
    font-family: 微軟正黑體;  
    float: left;
    display:block;
    width: 200px;
    border: 0px;
    color: #ffffff;
    font-weight: bolder;
    background-color: #8B4513;
  }